<div class="container">
    <header>
        <li>edit</li>
        <button class="btn-close">&times;</button>
    </header>
    <form [formGroup]="userForm">
        <div class="aside">
            <div class="profilepicture">
                <img [src]="imageurl" height="200px" width="200px">
            </div>
            <div class="file">
            <input type="file" formControlName="image">  
            </div>
        </div>
        <div class="row">
            <div class="formgroup">
                <input type="text" class="main" placeholder="First Name" formControlName="first">
                <input type="text" class="main" placeholder="Last Name" formControlName="last">
            </div>
            <div class="formgroup">
                <input type="email" class="main" placeholder="Email" formControlName="email">
            </div>
            <div class="formgroup">
                <input type="phone" class="main" placeholder="Phone Number" formControlName="number">
            </div>
            <div class="formgroup">
                <label>Age</label>
                <input type="range" class="main" min="1" max="100"  value="10" class="slider" formControlName="age">
            </div>
            <div class="formgroup">
                <select name="state" formControlName="state" class="main">
                    <option value="" >State</option>
                    <option value="Maharashtra">Maharastra</option>
                    <option value="Goa">Goa</option>
                    <option value="Up">UP</option>
                    <option value="Kashmir">Kashmir</option>
                </select>
            </div>
            <div class="formgroup">
                <select name="country" formControlName="country" class="main">
                    <option value="">Country</option>
                    <option value="India">India</option>
                    <option value="China">China</option>
                    <option value="Korea">korea</option>
                </select>
            </div>
            <div class="formgroup">
                <select formControlName="address" class="main">
                    <option value="">Address</option>
                    <option value="Home">Home</option>
                    <option value="Company">Company</option>
                </select>
                
                <div *ngIf="userForm.get('address')?.value === 'Home'" class="main">
                    <input type="text" formControlName="address1" placeholder="Address 1">
                    <input type="text" formControlName="address2" placeholder="Address 2">
                </div>
                <div *ngIf="userForm.get('address')?.value === 'Company'" class="main">
                    <input type="text" formControlName="address1" placeholder="Address 1">
                    <input type="text" formControlName="address2" placeholder="Address 2">
                </div>
                </div>
                <div class="formgroup">
                    <input type="checkbox" class="main">
                    <label >Subscribe to Newsletter</label>
                </div>
                <div class="submit">
                    <button (click)="onCancel" class="main">Cancel</button>
                    <button (click)="onSubmit()">Submit</button>
                </div>
            </div>

    </form>
    
</div>