.container{
    position: absolute;
    top:60%;
    left: 50%;
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    background-color:white;
    transform: translate(-50%,-50%);
}
.btn-close{
    background-color: transparent;
    border: 0cap;
    cursor: pointer;

}
header li{
    font-size: x-large;
    font-weight: bold;
    list-style-type: none;
}
header{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: lightskyblue;
    img{
        border-radius: 50%;
    }
}
.aside{
    width: 30;
    float: left;
}

.profilepicture{
    display: flex;
    align-items: center;
    justify-content:left;
    img{
        border-radius: 50%;
    }
    
}
.main{
    top: 10px;
    padding: 10px;
}
.formgroup{
    padding: 3px;
}
