.main{
    background-image: url(/assets/background.jpg);
    background-size: cover;
    opacity: 85%;
    color: rgb(231, 240, 237);
    padding: 3rem;
}

h1{
    padding-top: 50px;
}
.search{
    display: flex;
    padding-bottom: 30px;
    justify-content: space-evenly ;

}
.search input{
    width: 500px;
    height: 1.5rem;  
}
.search button{
    width: 100px;
    height: 1.5rem;
    background-color: rgb(91, 91, 235);
    color: white;
}
.location{
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content:space-around;
    
}
.divmid{
    display: flex;
    border-top: dashed  lightblue;
    border-bottom: dashed lightblue;
    padding-bottom: 30px;
    text-align: center;
}
.divmid .container .row{
    display: block;
    padding-top: 30px;
    left: 100%;
    right: 100%; 
   
}
