<div class="container">
    <header>
        <li>Register</li>
        <button class="btn-close">&times;</button>
    </header>
    <form [formGroup]="userForm">
        <div class="aside">
            <div class="profilepicture">
                <img [src]="imageurl" height="200px" width="200px">
            </div>
            <div class="file">
            <input type="file" formControlName="image" (change)="onSelectFile($event)">  
            </div>
        </div>
        <div class="row">
            <div class="formgroup">
                <input type="text" class="main" placeholder="First Name" formControlName="first" >
                <span *ngIf="first && first.invalid && first.touched" style="color: red; font-size: small;">This field is require</span>
                <input type="text" class="main" placeholder="Last Name" formControlName="last">
                <span *ngIf="last && last.invalid && last.touched" style="color: red; font-size: small;">This field is require</span>
            </div>
            <div class="formgroup">
                <input type="email" class="main" placeholder="Email" formControlName="email">
                <span *ngIf="email && email.invalid && email.touched" style="color: red; font-size: small;">This field is require</span>

            </div>
            <div class="formgroup">
                <input type="phone" class="main" placeholder="Phone Number" formControlName="number">
                <span *ngIf="number && number.invalid && number.touched" style="color: red; font-size: small;">This field is require</span>

            </div>
            <div class="formgroup">                 
                <label>Age</label>
                <input type="range" class="main" min="1" max="100"  value="10" class="slider" formControlName="age">
                <span *ngIf="age && age.invalid && age.touched" style="color: red; font-size: small;">This field is require</span>

            </div>
            <div class="formgroup">
                <select name="state" formControlName="state" class="main">
                    <option value="" >State</option>
                    <option value="Maharashtra">Maharastra</option>
                    <option value="Goa">Goa</option>
                    <option value="Up">UP</option>
                    <option value="Kashmir">Kashmir</option>
                </select>
            </div>
            <div class="formgroup">
                <select name="country" formControlName="country" class="main">
                    <option value="">Country</option>
                    <option value="India">India</option>
                    <option value="China">China</option>
                    <option value="Korea">korea</option>
                </select>
            </div>
            <div class="formgroup">
                <select formControlName="address" class="main">
                    <option value="">Address</option>
                    <option value="Home">Home</option>
                    <option value="Company">Company</option>
                </select>
                
                <div *ngIf="userForm.get('address')?.value === 'Home'" class="main">
                    <input type="text" formControlName="address1" placeholder="Address 1">
                    <input type="text" formControlName="address2" placeholder="Address 2">
                </div>
                <div *ngIf="userForm.get('address')?.value === 'Company'" class="main">
                    <input type="text" formControlName="address1" placeholder="Address 1">
                    <input type="text" formControlName="address2" placeholder="Address 2">
                </div>
                </div>


                  
            <mat-form-field class="tags">
                <mat-chip-grid #chipGrid aria-label="Tags">
                  @for (tag of tags; track tag) {
                    <mat-chip-row
                      (removed)="remove(tag)"
                      [editable]="true">
                      {{tag.name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                  <input placeholder="New tag..." formControlName="tags" class="main"
                         [matChipInputFor]="chipGrid"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)"/>
                </mat-chip-grid>
              </mat-form-field>
              
              
                <div class="formgroup">
                    <input type="checkbox" class="main">
                    <label >Subscribe to Newsletter</label>
                </div>
                <div class="submit">
                    <button (click)="onCancel()" class="main">Cancel</button>
                    <button (click)="onSaveUser()" routerLink="/profile" [disabled]="userForm.invalid">Submit</button>
                </div>
            </div>

    </form>
    
</div>